<%= for event <- @events  do %>
  <b> <%= link event.name, to: event.url  %> </b>
  <p> <%= description(event.description) %> </p>
  <p> <b>Location: </b> <%= event.venue %><br/>
    <b> Date:</b> <%= event.start %> - <%= event.end_date %>
  </p>
  <hr/>
<% end %>
